PJVPIN_MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=pjvpin
PJVPIN_MONGODB_DB=pjvpin
PJVPIN_RENIEC_API_BASE_URL=https://api.decolecta.com/v1
PJVPIN_RENIEC_TOKEN=
PJVPIN_PURE_API_BASE_URL=https://pure.unf.edu.pe/ws/api
PJVPIN_PURE_API_KEY=
